#contenedor {
    border: 2px solid blueviolet;
    display: flex;
    flex-direction: column;
    }

#mensaje {
    background-color: blue;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 10px;
    font-weight: bold;
    padding: 10px;
    }
.borde {
    border: 2px darkblue;
    }

.fuente {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

.item {
    padding: 10px;
    margin: 5px;
}